@media screen and (max-width: 992px) {
    .responsive-content {
      text-align: center;
    }
    .form-radio-div{
      display: block;
    }
    .section-1{
      text-align: center;
    }
    .responsive-section{
      text-align: -webkit-center;
    }
    .responsive-salutation{
      width: 60px;
      padding-left: 11px;
    }
    .responsive-sal{
      width: 20px;
    }
}
@media screen and (max-width: 1200px) {
  .responsive-navbar{
    margin-left: 27%;
  }
  .responsive-sal{
    margin-right: -10px;
  }
}
@media screen and (max-width: 767px) {
  .pic1{
    margin-top: 15px;
    margin-left: 50%;
  }
  .heading{
    text-align: center;
  }
  .responsive-salutation{
    width: auto;
    padding-left: auto;
  }
  .responsive-sal{
    width: 22px;
  }
}
