@media screen and (max-width: 992px) {
    .responsive-content {
      text-align: center;
    }
    .form-radio-div{
      display: block;
    }
    .section-1{
      text-align: center;
    }
    .responsive-section{
      text-align: -webkit-center;
    }
    .responsive-salutation{
      width: 60px;
      padding-left: 11px;
    }
    .responsive-sal{
      width: 20px;
    }
    .section-3-subheading{
      padding: 16px 12px 0px;
    }
    .section-3-subheading-data{
      padding: 0px 14px 15px;
    }
}
@media screen and (max-width: 1200px) {
  .responsive-navbar{
    margin-left: 27%;
  }
  .responsive-sal{
    margin-right: -10px;
  }
}
@media screen and (max-width: 767px) {
  .pic1{
    margin-top: 15px;
    margin-left: 50%;
  }
  .heading{
    text-align: center;
  }
  .responsive-salutation{
    width: auto;
    padding-left: auto;
  }
  .responsive-sal{
    width: 22px;
  } 
  .section-4-tree{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  #social-media-margin{
    margin-bottom: auto;
  }
  .section-5-card-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .section-5-card-grid>div{
    margin-top: 1rem !important;
  }
  .section-5-card>div{
    padding-right: 25px !important;
  }
  .section-5-card-data{
    padding: 2.8px;
  }
  .section-5-responsive-margin{
    margin-top: 18px;
  }
  .section-5-dash-line{
    display: block;
  }
}

@media screen and (max-width: 575px) {

  .section-3-flex{
    /* display: flex;
    flex-direction: column; */
    display: none !important;
  }
  #carouselExampleIndicators{
    display: block !important;
  }
  .section-3-subheading{
    
    padding: 24px 50px 0px;
  }
  .section-3-subheading-data{
    padding: 0px 50px 24px;
  }
  #card-1, #card-2, #card-3{
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
  
@media screen and (max-width: 357px) {
  .responsive-sal{
    width: 13px;
  }
  .responsive-salutation{
    width: 61px;
  }
  .responsive-icons{
    display: grid !important;
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width: 1071px) {
  .section-5-card>div>section{
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .section-5-card>div{
    padding-left: 25px !important;
  }
}
