li{
    padding: 15px;
}
li a{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.navbar-collapse{
    margin-left: 490px;
}
.cardmenu{
    background: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    margin-top: -15px;
    min-width: 36vw;
}
.dropdown-menu{
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
.menusection{
    padding-right: 5px;
}
.menulogo{
    padding-left: 16px;
}
.menuhead{
    color: #264a9f;
    font-weight: bolder;
    padding-left: 16px;
}
.menucontent{
    color: rgba(7,30,84,.6);
    font-size: 12.32px;
    padding-left: 16px;
    margin-top: -9px;
}
.heading{
    font-size: 30px; 
    color: #264a9f;
}
.pic1{
    max-width: 85%;
    width: 100%;
    height: auto;
    margin-left: auto;
    display: block;
    margin-right: auto;
}
.scrollImg{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;
}
.section-2{
    color: rgba(7,30,84,.8);
}
.section-color{
    margin-left: 45px;
    margin-right: 45px;
}
form{
    padding: 30px 50px 50px;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    border: none;
}
.form-input-font{
    font-weight: 600;
}
.form-input-font::placeholder{
    font-weight: lighter;
}
.form-heading{
    font-size: 22px;
    text-align: left;
    color: #264a9f;
}
.form-inputLabel{
    color: #071e54;
    font-size: 13px;
    opacity: .5;
    margin-left: 14px;
}
.form-sal{
    align-items: center;
    border-radius: 12px;
    box-shadow: rgb(191 195 207) 3px 3px 6px inset, rgb(255 255 255) -3px -3px 6px inset;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    padding: 15% 0% 20% 6%;
    font-size: 13px;
    opacity: 0.8;
    margin-top: 8px;
}
.form-salutation{
    padding-left: 17px;
    opacity: 0.8;
}
.form-input-text{
    border-radius: 10px;
    margin-top: 8px;
    color: #071e54;
    opacity: .8;
    box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 6px #fff;
    background: transparent;
    padding: 20px 10px 20px 25px;
    font-size: 13px;
    border: 0;
}
.form-input-text:focus{
    background: transparent;
    box-shadow: inset 6px 6px 10px #bfc3cf, inset -5px -5px 8px #fff
}
.form-input-error{
    color: #dc3545;
    margin-left: 25px;
    font-size: 12px;
    text-transform: capitalize;
}
.form-radio-div{
    margin-top: 5%; 
    display: flex;
    margin-block-end: 3%;
}
.form-radio{
    margin-right: calc(.7 * 108px);
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-radio-label-1{
    vertical-align: middle;
    /* width: 1.35vw;
    height: 80%; */
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    box-shadow: 3px 3px 3px #cecece!important;
    cursor: pointer;
    border-radius: 50%;
}
.form-radio-label-2{
    opacity: 0.8; 
    margin-left: 22px; 
    font-size: 13px;
    color: #071e54;
}
.form-radio-active{
    background: transparent linear-gradient(276deg,rgba(13,53,148,.898039),#35d3e1) 0 0 no-repeat padding-box;
}