.logo{
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
}
.logo-2{
    height: 50px;
    width: auto;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
}
li{
    padding: 15px;
}
li a{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.navbar-collapse{
    margin-left: 490px;
}
.cardmenu{
    background: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    margin-top: -15px;
    min-width: 36vw;
}
.dropdown-menu{
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
.menusection{
    padding-right: 5px;
}
.menulogo{
    padding-left: 16px;
}
.menuhead{
    color: #264a9f;
    font-weight: bolder;
    padding-left: 16px;
}
.menucontent{
    color: rgba(7,30,84,.6);
    font-size: 12.32px;
    padding-left: 16px;
    margin-top: -9px;
}
.heading{
    font-size: 30px; 
    color: #264a9f;
}
.pic1{
    max-width: 85%;
    width: 100%;
    height: auto;
    margin-left: auto;
    display: block;
    margin-right: auto;
}
.scrollImg{
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    text-align: center;
}
.section-2{
    color: rgba(7,30,84,.8);
}
.section-color{
    margin-left: 45px;
    margin-right: 45px;
}
form{
    padding: 30px 50px 50px;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    border: none;
}
.form-input-font{
    font-weight: 600;
}
.form-input-font::placeholder{
    font-weight: lighter;
}
.form-heading{
    font-size: 22px;
    text-align: left;
    color: #264a9f;
}
.form-inputLabel{
    color: #071e54;
    font-size: 13px;
    opacity: .5;
    margin-left: 14px;
}
.form-salutation{
    width: 22px;
    float: right;
    
}
.form-input-text{
    border-radius: 10px;
    margin-top: 8px;
    color: #071e54;
    opacity: .8;
    box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 6px #fff;
    background: transparent;
    padding: 14px 20px;
    font-size: 13px;
    border: 0;
}
.form-input-text:focus{
    background: transparent;
    box-shadow: inset 6px 6px 10px #bfc3cf, inset -5px -5px 8px #fff
}
.form-input-error{
    color: #dc3545;
    margin-left: 25px;
    font-size: 12px;
    text-transform: capitalize;
}
.form-radio-div{
    margin-top: 5%; 
    display: flex;
    margin-block-end: 3%;
}
.form-radio{
    margin-right: calc(.7 * 108px);
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-radio-label-1{
    vertical-align: middle;
    /* width: 1.35vw;
    height: 80%; */
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    box-shadow: 3px 3px 3px #cecece!important;
    cursor: pointer;
    border-radius: 50%;
}
.form-radio-label-2{
    opacity: 0.8; 
    margin-left: 22px; 
    font-size: 13px;
    color: #071e54;
}
.form-radio-active{
    background: transparent linear-gradient(276deg,rgba(13,53,148,.898039),#35d3e1) 0 0 no-repeat padding-box;
}
.form-list-card{
    cursor: pointer;
    display: none;
    /* width: inherit; */
    z-index: 1;
    position:absolute; 
    border-radius: 10px;
    max-height: 50%;
    overflow:auto;
    background-color: #e5e6eb;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
}
.form-list-card hr{
    margin: 0;
    border: 1px solid aqua;
}
.form-list-card .hover:hover{
    background-color: aqua;
}
/* .form-list-visible:hover .form-list-card{
    display: block;
} */
.form-list{
    padding: 10px 15px 12px 6px;
}
/* .form-check-box::before{
    box-shadow: 3px 3px 5px #bfc3cf;
    border: 3px solid #fff;
    background: #bfc3cf;
    border-radius: .45rem;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1.0rem;
    height: 1.0rem;
    pointer-events: none;
    content: "";
    box-shadow: 3.5px 3.5px 6px rgb(25 93 255 / 40%), -3.5px -3.5px 6px #fff;
}
.form-check-box::after{
    background-color: blue;
    position: absolute;
    top: .4rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 89%/60% 43%;
}
input:checked~.custom-control-label:after{
    background-image: url(/images/tick.png);
} */
.form-declaration{
    padding-left: 15px;
    opacity: .8;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -.18px;
    text-align: left;
    color: #071e54;
}
.form-button{
    min-height: 25px;
    background: transparent linear-gradient(276deg,rgba(13,53,148,.898039),#35d3e1) 0 0 no-repeat padding-box;
    color: #fff;
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 8px 10px;
    background: -moz-linear-gradient(top left,#eff0f3,#e5e6eb);
    font-size: 13px;
}
.section-3{
    padding-top: 70px;
    padding-bottom: 70px;
    width: auto;
    /* margin-left: 15%;
    margin-right: 15%; */
}
.heading-section-3{
    color: #264a9f;
    font-size: 28px!important;
}
.section-3-card{
    padding: 0;
    background: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    border-radius: 15px;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
}

.section-3-subheading{
    padding: 24px 50px 0px;
    color: #264a9f;
    font-size: 20px;
}
.section-3-subheading-data{
    padding: 0px 50px 24px;
}
.section-4-tree{
    background-image: url(https://www.tataaig.com/footerBgImage1.svg); 
    background-repeat: no-repeat;
            /* min-height: 65px; */
    border-bottom: 2px dotted #999;
    background-position: right 2rem center;
    background-size: contain;
}
.section-5-card{
    background: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    border-radius: 10px;
    border: none!important;
}
.section-5-icons{
    color: #fff;
    background: rgba(7,30,84,.3);
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    height: 35px;
    width: 35px;
    padding: 4.7px;
}
#social-media-margin{
    margin-bottom: 120px;
}
.section-5-card-data{
    cursor: pointer;
    font-size: 13px;
    color: rgba(7,30,84,.6);
    padding: 9.8px 0;
}
.section-5-dash-line{
    border-bottom: 2px dashed #bcbcbc; 
    margin-top: 20px; 
    display: none;
}
.section-6{
    background: linear-gradient(to bottom right,#eff0f3,#e5e6eb);
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    border-radius: 10px;
    border: none!important;
}
.section-6-data{
    color: #264a9f;
    font-size: 16px;
}
.section-6-line{
    border-left: 2px dashed #bcbcbc;
    top: 0;
    margin-left: 14vw;
    height: 56px;
    position: absolute;
}
.section-6-span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    position: absolute;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}
.section-6-card-data{
    padding-right: 50px;
}
.section-6-card-data>p, .section-6-hidden-data>p{
    color: rgba(7,30,84,.6); font-size: 14px;
}
.footer-div{
    font-size: 12px; text-align: center!important; color: #fff!important;
}
.footer-div>span{
    border-right: 1px solid #dee2e6!important;
}